manifest {
    name            = 'scrnaseq-align-5prime-vdj'
    author          = 'Dmitrij Manakov'
    homePage        = ''
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '1.0.0'
}

params {
    // Input data
    samples             = null
    outdir              = './results'
    
    // Max resources
    max_memory          = '128.GB'
    max_cpus            = 32
    max_time            = '72.h'

    STAR {
        index_threads = 16
        use_prebuilt_index = true
        genome_index = "/mnt/data/NGS/Projects/CNS-scrnaseq/scrnaseq-align-5prime-vdj/results/STAR_genome_indexed"

        align_threads = 32
        sortbam_memory_gb = 120

        // Genome indexing
        genomeFastaFiles = "/mnt/data/NGS/refs/10X_sc/refdata-gex-GRCh38-2024-A/fasta/genome.fa"
        sjdbGTFfile = "/mnt/data/NGS/refs/10X_sc/refdata-gex-GRCh38-2024-A/genes/genes.gtf"
        sjdbOverhang = 149

        // Alignment
        whitelist = "/mnt/data/NGS/refs/10X_sc/10X_barcodes/737K-august-2016.txt"
        cell_barcode_length = 16
        umi_length = 10
        soloStrand = "Forward"
    }

    cellranger {
        cellranger_vdj_reference = "/mnt/data/NGS/refs/10X_sc/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.1.0"
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
}

process {
    withName: 'STARSOLO_INDEX' {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
        cpus = 16
        memory = '128.GB'
    }

    withName: 'STARSOLO_ALIGN' {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
        cpus = 32
        memory = '128.GB'
    }

    withName: 'CELLRANGER_VDJ' {
        container = 'cumulusprod/cellranger:9.0.1'
        cpus = 8
        memory = '16.GB'
    }
}