manifest {
    name            = 'scrnaseq-align-5prime-vdj'
    author          = 'Dmitrij Manakov'
    homePage        = 'https://github.com/dmkv1/scrnaseq-align'
    description     = 'Pipeline for alignment of scRNAseq samples'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '1.0.0'
}

executor {
    name = 'local'
    cpus = 32
    memory = '128.GB'
}

params {
    // Input data
    samples             = null
    outdir              = './results'
    
    STAR {
        use_prebuilt_index = false
        genome_index = ''

        // Genome indexing parameters
        genomeFastaFiles = '/mnt/data/NGS/refs/10X_sc/refdata-gex-GRCh38-2024-A/fasta/genome.fa'
        sjdbGTFfile = '/mnt/data/NGS/refs/10X_sc/refdata-gex-GRCh38-2024-A/genes/genes.gtf'
        sjdbOverhang = 149

        // Alignment parameters (sjdbGTFfile is used for both)
        whitelist = '/mnt/data/NGS/refs/10X_sc/10X_barcodes/737K-august-2016.txt'
        cell_barcode_length = 16
        umi_length = 10
        soloStrand = 'Forward'
    }

    cellranger {
        cellranger_vdj_reference = '/mnt/data/NGS/refs/10X_sc/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.1.0'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
}

process {
    beforeScript = 'umask 002'

    withName: 'STARSOLO_INDEX' {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
        cpus = 32
        memory = '128.GB'
    }

    withName: 'STARSOLO_ALIGN' {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
        cpus = 32
        memory = '128.GB'
    }

    withName: 'CELLRANGER_VDJ_T|CELLRANGER_VDJ_B*' {
        container = 'cumulusprod/cellranger:9.0.1'
        cpus = 32
        memory = '128.GB'
    }
}