manifest {
    name            = 'scrnaseq-align-5prime-vdj'
    author          = 'Dmitrij Manakov'
    homePage        = ''
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '1.0.0'
}

params {
    // Input data
    samples             = null
    outdir              = './results'
    
    // Random seed for reproducibility
    seed = 42

    // Max resources
    max_memory          = '256.GB'
    max_cpus            = 32
    max_time            = '72.h'

    STAR {
        threads = 16

        // Genome indexing
        genomeFastaFiles = "/mnt/data/NGS/refs/10X_sc/refdata-gex-GRCh38-2024-A/fasta/genome.fa"
        sjdbGTFfile = "/mnt/data/NGS/refs/10X_sc/refdata-gex-GRCh38-2024-A/genes/genes.gtf"
        sjdbOverhang = 149
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
}

process {
    container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_6'
}